<!DOCTYPE html>
<html lang="en">

 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPP</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
 </head>
 
 <body>
 	<div class="container">
 		<header>
 			<ul class="nav nav-pills pull-right">
 				<li><a href="http://github.com/ugonna">source on github</a></li>
 				<li><a href="https://twitter.com/ugonnan">@ugonnan</a></li>
 				<li><a href="http://ugonna.co">ugonna's website</a></li>
 			</ul>
 			<h3 class="muted">
 				<a href="/"><i class="icon-home home-logo"></i></a>
 				product popularity prediction 
 				<small>an experiment</small>
 			</h3>
 		</header>
 		
	 	<div class="main">
	 		<div class="page-header">
	 			<h2 id="product-name" data-product-key="{{ product.key() }}">
	 				<span id="p-name">{{ product.name }}</span>
	 				<small>Tracking statistics</small>
	 			</h2>
	 		</div>
	 		<div id="report-body">
	 			<div class="hero-unit">
	 				<h4 class="text-center">
	 					Please wait while data loads
	 				</h4>
	 				<div class="progress progress-striped active">
	 					<div class="bar" style="width: 100%;"></div>
					</div>
	 			</div>
	 		</div>
	 	</section>
 	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/lib/jquery-1.9.1.min.js"><\/script>')</script> 
	
	<!-- Flot -->
	<script src="js/script.js"></script>
	<script src="js/view.js"></script>
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
	<script src="js/flot/jquery.flot.js"></script>
	<script src="js/flot/jquery.flot.time.js"></script>
	<script src="js/flot/jquery.flot.resize.js"></script>
	<script src="js/flot/jquery.flot.selection.js"></script>
	<section id="sm" style="display: none;">
    	<h3>Social media statistics (Twitter)</h3>
	    <div id="sm-chart" class="chart span12"></div>
	    <div class="btn-group">
            <button id="sm-clear-zoom" class="btn">Clear Zoom</button>
        </div>
	</div>
	<section id="a" style="display: none;">
    	<h3>Article, News statistics</h3>
	    <div id="a-chart" class="chart span12"></div>
	</div>
 </body>
<html>
